<!-- <div fxLayout="row">
  <div fxFlex></div>
  <div>
      <button mat-raised-button color="primary">
          <mat-icon>translate</mat-icon>
      </button>
  </div>
</div> -->

<div>
  <mat-tab-group>
    <!-- General -->
    <mat-tab label="{{ 'general.title' | translate }}">
      <div>
        <mat-card fxLayout="row" fxLayoutWrap>
          <mat-form-field fxFlex="48">
            <input matInput placeholder="{{ 'general.moduleName' | translate }}" required>
          </mat-form-field>

          <div fxFlex="4"></div>
          
          <mat-form-field fxFlex="48">
            <input matInput placeholder="{{ 'general.version' | translate }}" required>
          </mat-form-field>

          <div fxFlex fxLayout="column">
            <div fxLayout="row" *ngFor="let locale of a_locales">
              <mat-form-field fxFlex="48" *ngIf="locale.active">
                <input matInput placeholder="{{ 'general.moduleNameSingular' | translate }} ({{ locale.code }})" required>
              </mat-form-field>

              <div fxFlex="4"></div>

              <mat-form-field fxFlex="48" *ngIf="locale.active">
                <input matInput placeholder="{{ 'general.moduleNamePlural' | translate }} ({{ locale.code }})" required>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>

    <!-- Blocks & Fields -->
    <mat-tab label="{{ 'blocksFields.title' | translate }}">
      <mat-card>
        <div fxLayout="row">
          <!-- UITypes -->
          <div fxFlex="17" fxLayout="column" class="uitypes-list">
            <mat-card>
              <ul>
                <li draggable [dragData]="uiType" *ngFor="let uiType of a_uiTypes">
                  <span *ngIf="mode == 'expert'">{{ uiType.uitype }} -</span> {{ uiType.label | translate }}
                </li>
              </ul>
            </mat-card>
          </div>

          <div fxFlex="4"></div>
          
          <div fxFlex fxLayout="column">
            <!-- Blocks -->
            <div fxLayout="row">
              <div fxFlex></div>
              <button mat-raised-button color="primary" (click)="addBlock()">
                <mat-icon>add_circle_outline</mat-icon>
                {{ 'blocksFields.addBlock' | translate }}
              </button>
            </div>

            <mat-card droppable class="block" (onDrop)="onItemDrop($event, block)" *ngFor="let block of a_blocks">
              <div fxLayout="column">
                <mat-form-field>
                  <input matInput placeholder="{{ 'blocksFields.blockLabel' | translate }}" required>
                </mat-form-field>

                <div fxFlex>
                  <div fxLayout="column" *ngFor="let locale of a_locales">
                    <mat-form-field *ngIf="locale.active">
                      <input matInput placeholder="{{ 'blocksFields.blockLabelTranslation' | translate }} ({{ locale.code }})" required>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="row" fxLayoutWrap>
                  <div [fxFlex]="50 * field.width" *ngFor="let field of block.a_fields">
                    {{ field.fieldname }}
                  </div>
                </div>
              </div>
            </mat-card>

            <div fxLayout="row" *ngIf="a_blocks.length > 3">
              <div fxFlex></div>
              <button mat-raised-button color="primary" (click)="addBlock()">
                <mat-icon>add_circle_outline</mat-icon>
                {{ 'blocksFields.addBlock' | translate }}
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-tab>

    <mat-tab label="{{ 'lists.title' | translate }}">
      <mat-card>
        To be continued...
      </mat-card>
    </mat-tab>

    <mat-tab label="{{ 'export.title' | translate }}">
      <mat-card>
        To be continued...
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>